<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.mapper.SysRolePermissionMapper">
	<resultMap id="BaseResultMap" type="com.cxy.entity.SysRolePermission">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="perm_id" property="permId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_id, perm_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_role_permission
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sys_role_permission
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.cxy.entity.SysRolePermission">
		insert into
		sys_role_permission (id, role_id, perm_id
		)
		values
		(#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT},
		#{permId,jdbcType=BIGINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.cxy.entity.SysRolePermission" >
		insert into sys_role_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				role_id,
			</if>
			<if test="permId != null">
				perm_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
			<if test="permId != null">
				#{permId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cxy.entity.SysRolePermission">
		update sys_role_permission
		<set>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=BIGINT},
			</if>
			<if test="permId != null">
				perm_id = #{permId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cxy.entity.SysRolePermission">
		update
		sys_role_permission
		set role_id = #{roleId,jdbcType=BIGINT},
		perm_id =
		#{permId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into sys_role_permission (role_id, perm_id)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.roleId,jdbcType=BIGINT}, #{item.permId,jdbcType=BIGINT})
		</foreach>
	</insert>

</mapper>